<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zw.JsonLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>

    <!-- lastrun.log; rolling file logger, keeps 5 backups, restart log on every launch and every day-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="lastrun.log"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <userSettings>
    <Zw.JsonLogViewer.Properties.Settings>
        <setting name="AutoRefresh" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="LoadLastOnStartup" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="LastLogfile" serializeAs="String">
            <value />
        </setting>
        <setting name="MruFiles" serializeAs="String">
            <value>[]</value>
        </setting>
    </Zw.JsonLogViewer.Properties.Settings>
  </userSettings>
</configuration>